<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A friendly web app using open data provided by the Canadian Govt to assist adventure seekers find parks and historial sites in Nova Scotia">
    <meta name="author" content="Prodigious Aim Solutions">
    <title>Nova Scotia Adventures</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Google Maps -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDEdJiqc4XZ1WReZ7O8VcZDCwZxGUyGucU&libraries=places&sensor=false"></script>
    <!-- google fonts -->      
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing Script">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gudea">      
    <!-- custom CSS -->  
    <!-- <link rel="stylesheet" type="text/css" href="static/css/nsadventures.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nsadventures.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <img src="static/images/hamburger.png" alt="Hamburger Menu, Get it?!" />
          </button>
          <a class="navbar-brand" href="#"><img src="static/images/logo_small.png" alt="Nova Scotia Adventures" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="userDet"><a href="#" data-toggle="modal" data-target="#signInRegModal">Sign In / Register </a></li>
            <li><a href="#" data-toggle="modal" data-target="#aboutModal">About Us</a></li>
            <li><a href="#" data-toggle="modal" data-target="#appModal">The App</a></li>
            <li><a href="#" data-toggle="modal" data-target="#futureModal">The Future</a></li>
          </ul>
        </div>
      </div>
    </nav>  
    <div class="container">
      <section id="splash" class="row">
        <div class="col-md-12">    
          <img id="mainLogo" class="img-responsive" src="static/images/NSwhite logo2.png" alt="main logo" >      
          <h3 class="text-center outline-text"><strong>Find What You Are Looking For!</strong></h3>
          <div class="input-center input-group input-group-md">
            <p class="text-center outline-text">Where Does Your Adventure Start?</p>
            <!--         First Menu - Choose Location -->
            <select id="selLocation" class="form-control" name="location" id="location" value="Location">
              <option value="">- Select Location -</option>
              <option value="southshore">South Shore</option>
              <option value="easternshore">Eastern Shore</option>
              <option value="valley">Valley</option>
              <option value="centralns">Central Nova Scotia</option>
              <option value="capebreton">Cape Breton</option>
            </select>
            <div class="checkbox">
              <label class="outline-text">
                <input type="checkbox" id="selUpdate" checked/> Automatically Update Location?
              </label>
            </div>
          </div>          
          <div class="input-center input-group input-group-md">
            <p class="text-center outline-text">What Kind Of Adventure Do You Want?</p>
            <!--       Second Menu - Choose Type of Adventure   -->
            <select id="selType" class="form-control" name="adventure" id="adventure" value="Adventure">
              <option value="">- Select Type -</option>
              <option value="historic">Historic Sites</option>
              <option value="parks">Parks</option>
            </select>
            <input id="btnGo" type="button" class="btn btn-primary pull-right" value="Get Your Adventure!" />
          </div>
        </div>
      </section>

      <section id="mainApp" class="row" style="display:none">
        <div class="col-md-6">
          <div id="theMap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-center input-group input-group-md">
            <p class="text-center outline-text">Location?</p>
            <!--         First Menu - Choose Location -->
            <select id="refLocation" class="form-control" name="location" id="location" value="Location">
              <option value="">- Select Location -</option>
              <option value="southshore">South Shore</option>
              <option value="easternshore">Eastern Shore</option>
              <option value="valley">Valley</option>
              <option value="centralns">Central Nova Scotia</option>
              <option value="capebreton">Cape Breton</option>
            </select>
            <div class="checkbox">
              <label class="outline-text">
                <input type="checkbox" id="selUpdate" checked/> Automatically Update Location?
              </label>
            </div>
          </div>
          <div class="input-center input-group input-group-md">
            <p class="text-center outline-text">Type?</p>
            <!--       Second Menu - Choose Type of Adventure   -->
            <select id="refType" class="form-control" name="adventure" id="adventure" value="Adventure">
              <option value="">- Select Type -</option>
              <option value="historic">Historic Sites</option>
              <option value="parks">Parks</option>
            </select>
            <input id="btnRefresh" type="button" class="btn btn-primary pull-right" value="Get Your Adventure!" />
          </div>
          <div id="lists" class="input-center">
            <h3 class="outline-text">Adventure Lists</h3>
            <ul class="list-unstyled">
           
            </ul>
          </div>
          <div id="currentList" class="input-center hide">
            <h3 class="outline-text">Current List</h3>
            <ul class="list-unstyled">
              
            </ul>
            <div class="form-group">
              <div class="form-group">
                <label>List Name: </label>
                <input id="listName" type="text" class="form-control" placeholder="New List" />
              </div>
              
              <input id="btnSaveDestList" type="button" class="btn btn-primary pull-left" value="Save List" />
            </div>
            <div id="listErr">
              
            </div>
          </div>
        </div>
      </section>

    </div>
    <div id="aboutModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">About Us</h4>
          </div>
          <div class="modal-body">
            <p>Prodigious aim consists of three key participants. Jason Corbett- the head of operations, 
              with over 10 years experience in computer programming and an expert in software and web development. 
              Kier McGerrigle, with over 10 years experience in network administration and PC hardward, has also been 
              training in graphic design and application development. Last, but not least, is Ashley Burke, who has 
              over 5 years experience in research and data analysis and who is currently learning HTML5, CSS3 and 
              web design.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="appModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">The App</h4>
          </div>
          <div class="modal-body">
            <p>Nova Scotia Adventures is an app created with the aim to help people locate what historic 
              sites/parks are available in certain areas. With this app you can explore Nova Scotia and find
              what youre looking for. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="futureModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">The Future</h4>
          </div>
          <div class="modal-body">
            <p>Prodigious Aim hopes to expand this app to cover all provinces and expand to include the earning of badges to 
              cover all sorts of things including events, themes and even holidays! To add some gamification to the app. As well
              we hope to add the ability to create lists to organize your adventures.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="badgeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">Congratulations!</h2>
          </div>
          <div class="modal-body">
            <h3>You Earned a Badge!</h3>
            <div class="type"></div>
            <div class="description"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="signInRegModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign In / Register</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <div id="register">
                    <h3>Register</h3>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="email form-control"/>
                    </div>
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="username form-control"/>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="password form-control"/>
                    </div>
                    <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" class="confirm form-control"/>
                    </div>
                    <div class="form-group">
                      <input type="button" class="btn btn-primary" value="Register" />
                    </div>
                  </div>
                  <div id="regError" class="error">
                    
                  </div>
                  <div id="signin">
                    <h3>Sign In</h3>
                    <div class="form-group">
                      <label>Email/Username</label>
                      <input type="text" class="username form-control"/>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="password form-control"/>
                    </div>
                    <div class="form-group">
                      <input type="button" class="btn btn-primary" value="Sign In" />
                    </div>
                    <div id="signError" class="error">
                    
                  </div>
                  </div>
                </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  
    </div>
    
    <div id="confirmationModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="error">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-action"></button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <script src="static/js/turf-map.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>